---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article>
      <span style="font-size:14px;">{{ post.date | date: "%B %-d, %Y"  }}</span>
      <h3><a href="{{ site.baseurl }}{{ post.url }}" style="color:#fff">{{ post.title }}</a></h3>

      <div class="entry">
        <p class="m-0 mb-1">{{ post.excerpt }}</p>
      </div>
      
      {% for tag in post.categories %}
        <a class="btn btn-default btn-sm">{{ tag }}</p>
      {% endfor %}

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
