---
layout: default
---

{% for post in site.posts %}
  {% for tag in post.categories %}
    <span style="color:#fff;">{{{ tag }}</span>
  {% endfor %}
{% endfor %}

<div class="posts">
  {% for post in site.posts %}
    <article style="margin-bottom:32px;">
      <span style="font-size:14px;color: #828282;">{{ post.date | date: "%B %-d, %Y"  }}</span>
      
      <h3 class="m-0"><a href="{{ site.baseurl }}{{ post.url }}" style="color:#fff">{{ post.title }}</a></h3>
      
      <div class="flex items-center mt-1">
      <div style="border-radius:50%;width:12px;height:12px;background:#0ff;box-shadow:0 0 10px 0 #0ff;margin-right:10px;"></div>
      {% for tag in post.categories %}
        <span style="font-size:14px;background: #444;padding: 2px 5px 3px 5px;border-radius: 3px;font-size: 12px;font-weight: bold;color: #ccc;text-transform: lowercase;margin-right:2px">{{ tag }}</span>
      {% endfor %}
      </div>
    
    </article>
  {% endfor %}
</div>
