<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body style="background:var(--body-color);color: #fff;">
    <header class="py-3">
      <div class="flex items-center mx-auto" style="max-width: 700px;padding-left: 20px;padding-right: 20px;">
        <h2 class="flex-auto m-0"><a href="{{ site.baseurl }}/" style="color:#fff;">Cyfibytes</a></h2>
        <nav>
          <a class="bold mr-2" style="color:#fff;" href="{{ site.baseurl }}/">Blog</a>
          <a class="bold" style="color:#fff;" href="{{ site.baseurl }}/about">About</a>
        </nav>
      </div>
    </header>

    <main class="py-3 mx-auto" style="max-width:700px;padding-left: 20px;padding-right: 20px;"">
      {{ content }}
    </main>
    
  </body>
</html>
