<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <header class="py-4" style="background: var(--body-color);color: #fff;">
      <div class="flex items-center mx-auto" style="max-width: 740px;padding-left: 20px;padding-right: 20px;">
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" style="max-width:60px;"/></a>
        <h1 class="flex-auto" style="color:#fff;"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <nav>
          <a href="{{ site.baseurl }}/" style="color:#fff;">Blog</a>
          <a href="{{ site.baseurl }}/about" style="color:#fff;">About</a>
        </nav>
      </div>
    </header>

    <main class="container" style="max->
      {{ content }}
    </main>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    
  </body>
</html>
